variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
.editorconfig
.vscode/
*.retry
.gce_cache
jdauphant.nginx
vault.key
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
.venv
.yamllint
.sonarlint
